<%- include('partials/header.ejs') %>
<%- include('partials/navbar2.ejs') %>

<section data-bs-version="5.1" class="gallery1 mbr-gallery cid-uvajt483LZ" id="gallery01-3">
    <br><br><br><br>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center m-0 display-2"><strong>Todos os filmes</strong></h3>
                    <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-4 display-7">Explore a coleção de filmes</h4>
                </div>
            </div>
        </div>

        <div class="row mbr-gallery">
            <% if (filmes && filmes.length > 0) { %>
                <% filmes.forEach(filme => { %>
                    <div class="col-12 col-md-6 col-lg-3 item gallery-image" style="margin-bottom: 100px;">
                        <div class="item-wrapper mb-3">
                            <!-- Exibindo a imagem do filme -->
                            <% if (filme.imagem) { %>
                                <img class="w-100" src="<%= filme.imagem %>" alt="<%= filme.titulo %>">
                            <% } else { %>
                                <img class="w-100" src="/path/to/default-image.jpg" alt="<%= filme.titulo %>">
                            <% } %>
                            <div class="icon-wrapper">
                                <span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn"></span>
                            </div>
                        </div>
                        <div class="user-info mt-2" style="margin-top: 10px;">
                            <h5 style="color: rgb(255, 247, 0);"><strong><%= filme.titulo %> - <%= filme.ano %></strong></h5>
                            <h5 style="color: aliceblue;">Por: <%= filme.emailPostador %></h5>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div class="col-12">
                    <p>Não há filmes cadastrados no momento. Por favor, adicione alguns filmes.</p>
                </div>
            <% } %>
        </div>
    </div>
</section>




<%- include('partials/footer.ejs') %>
